.inputBoxContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.inputBoxLabel {
    margin-right: 10px;
}

.inputField {
    flex: 1;
    padding: 8px;
    font-size: 16px;
}