.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.buttonContainer:hover {
    background-color: #2980b9;
}